{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="container mt-5">
    <div class="card shadow-sm p-4">
        <h2 class="text-center mb-4">
            {% if modulo.pk %}Editar Módulo{% else %}Agregar Módulo{% endif %}
        </h2>

        <div class="mb-3">
            <a class="btn btn-secondary" href="{% url 'permiso:lista_modulo' %}">
                ⬅️ Volver al listado
            </a>
        </div>

        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}

            <button type="submit" class="btn btn-primary">💾 Guardar</button>
        </form>
    </div>
</div>
{% endblock %}
