{% extends "base.html" %}

{% block title %} Completar Relacion {% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="card shadow-sm">
        <div class="card-header bg-primary text-white" style="text-align: center;">
            <h4>Completar Relación</h4> 
        </div>
        <div class="card-body">

            {% if form.non_field_errors %}
<div class="alert alert-danger">
    {% for error in form.non_field_errors %}
        <p>{{ error }}</p>
    {% endfor %}
</div>
{% endif %}


<form method="post">
    {% csrf_token %}

    <div class="mb-3">
        <label class="form-label">{{ form.username_relacion.label }}</label>
        {{ form.username_relacion }}
        <div class="form-text fs-5">
            <strong><h5 style="color: blue;">{{ form.username_relacion.help_text }}</h5></strong>
        </div>
        {{ form.username_relacion.errors }}
    </div>

    <div class="mb-3">
        <label class="form-label">{{ form.id_relacion.label }}</label>
        {{ form.id_relacion }}
        <div class="form-text fs-5">
            <strong><h5 style="color: blue;">{{ form.id_relacion.help_text }}</h5></strong> 
        </div>
        {{ form.id_relacion.errors }}
    </div>

    <button type="submit" class="btn btn-success mt-3">Guardar Relación</button>
</form>
        </div>
    </div>
</div>
{% endblock %}
