{% extends "base.html" %}

{% block title %} Rechazar Usuario {% endblock %}

{% block content %}

<div class="container py-5" style="max-width:600px;">

    <div class="card border-0 shadow-sm">

        <!-- Header -->
        <div class="card-body border-bottom">

            <div class="d-flex align-items-center gap-3">

                <div class="rounded-circle bg-danger text-white d-flex justify-content-center align-items-center"
                     style="width:45px;height:45px;font-size:20px;">
                    !
                </div>

                <div>
                    <h5 class="fw-bold mb-0">Rechazar Solicitud</h5>
                    <small class="text-muted">Esta acción no se puede deshacer</small>
                </div>

            </div>

        </div>

        <!-- Body -->
        <div class="card-body">

            <div class="mb-4">

                <p class="mb-1 text-muted">Estás por rechazar la solicitud de:</p>

                <div class="fw-semibold fs-5">
                    {{ pendiente.payload.nombres }}
                </div>

            </div>

            <form method="post">

                {% csrf_token %}

                <div class="mb-4">

                    <label class="form-label fw-semibold">
                        Motivo del rechazo
                    </label>

                    <textarea
                        name="motivo"
                        id="motivo"
                        rows="3"
                        class="form-control"
                        placeholder="Escribe el motivo del rechazo..."
                        required
                    ></textarea>

                    <small class="text-muted">
                        Este mensaje puede servir para saber en un futuro porque se rechazo la solicitud.
                    </small>

                </div>

                <!-- Botones -->
                <div class="d-flex justify-content-between">

                    <a href="{% url 'usuario:pendiente_detalle' pendiente.uuid %}"
                       class="btn btn-outline-secondary">
                       ← Cancelar
                    </a>

                    <button type="submit"
                            class="btn btn-danger fw-semibold px-4">
                        Rechazar Solicitud
                    </button>

                </div>

            </form>

        </div>

    </div>

</div>

{% endblock %}